// reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
}

#left-wheel, #right-wheel {
    animation: wheel-rotation 5.5s linear 0s infinite forwards;
    transform-origin: center;
    transform-box: fill-box;

}

#boy {
    animation: bike 1s ease-in-out 0s infinite alternate;
    transform-origin: bottom;
}

@keyframes wheel-rotation {
    0% {
        transform: rotateZ(0deg);
    }

    100% {
        transform: rotateZ(360deg);
    }
}

@keyframes bike {
    0% {
        transform: rotateX(0deg);
    }

    100% {
        transform: rotateX(20deg);
    }
}