* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  text-align: center;
}

#hat {
  -webkit-animation: hat 1s linear 0s infinite alternate;
          animation: hat 1s linear 0s infinite alternate;
  -webkit-transform-origin: center;
          transform-origin: center;
  transform-box: fill-box;
}

#boy {
  -webkit-animation: bike 1s ease-in-out 0s infinite alternate;
          animation: bike 1s ease-in-out 0s infinite alternate;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

#left-wheel,
#right-wheel {
  -webkit-animation: wheel-rotation 1.5s linear 0s infinite forwards;
          animation: wheel-rotation 1.5s linear 0s infinite forwards;
  -webkit-transform-origin: center;
          transform-origin: center;
  transform-box: fill-box;
}

#canvas {
  position: relative;
  height: 100vh;
  width: 100vw;
}

#street {
  width: 100%;
  max-height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}

#bicycle {
  position: absolute;
  left: 30%;
  bottom: -10px;
  height: 300px;
  width: 300px;
  z-index: 99;
}

#left-tree, #right-tree {
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  transform-box: fill-box;
}

#left-tree {
  -webkit-animation: left-nodding 1s ease-in-out 0s infinite alternate;
          animation: left-nodding 1s ease-in-out 0s infinite alternate;
}

#right-tree {
  -webkit-animation: right-nodding 1s ease-in-out 0s infinite alternate;
          animation: right-nodding 1s ease-in-out 0s infinite alternate;
}

#cloud1, #cloud2 {
  -webkit-animation: cloud 2s ease-in-out 0s infinite alternate;
          animation: cloud 2s ease-in-out 0s infinite alternate;
  -webkit-transform-origin: left;
          transform-origin: left;
}

#cloud3 {
  -webkit-animation: cloudbig 5s ease-in-out 0s infinite alternate;
          animation: cloudbig 5s ease-in-out 0s infinite alternate;
  -webkit-transform-origin: left;
          transform-origin: left;
}

@-webkit-keyframes wheel-rotation {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@keyframes wheel-rotation {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@-webkit-keyframes bike {
  0% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
  100% {
    -webkit-transform: rotateX(20deg);
            transform: rotateX(20deg);
  }
}

@keyframes bike {
  0% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
  100% {
    -webkit-transform: rotateX(20deg);
            transform: rotateX(20deg);
  }
}

@-webkit-keyframes hat {
  0% {
    -webkit-transform: translateY(0%) rotateZ(10deg) rotateX(0deg);
            transform: translateY(0%) rotateZ(10deg) rotateX(0deg);
  }
  100% {
    -webkit-transform: translateY(50%) rotateZ(0deg) rotateX(20deg);
            transform: translateY(50%) rotateZ(0deg) rotateX(20deg);
  }
}

@keyframes hat {
  0% {
    -webkit-transform: translateY(0%) rotateZ(10deg) rotateX(0deg);
            transform: translateY(0%) rotateZ(10deg) rotateX(0deg);
  }
  100% {
    -webkit-transform: translateY(50%) rotateZ(0deg) rotateX(20deg);
            transform: translateY(50%) rotateZ(0deg) rotateX(20deg);
  }
}

@-webkit-keyframes left-nodding {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(4deg);
            transform: rotateZ(4deg);
  }
}

@keyframes left-nodding {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(4deg);
            transform: rotateZ(4deg);
  }
}

@-webkit-keyframes right-nodding {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(-4deg);
            transform: rotateZ(-4deg);
  }
}

@keyframes right-nodding {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(-4deg);
            transform: rotateZ(-4deg);
  }
}

@-webkit-keyframes cloud {
  from {
    -webkit-transform: rotateY(-10deg) rotateZ(0deg);
            transform: rotateY(-10deg) rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateY(8deg) rotateZ(-4deg);
            transform: rotateY(8deg) rotateZ(-4deg);
  }
}

@keyframes cloud {
  from {
    -webkit-transform: rotateY(-10deg) rotateZ(0deg);
            transform: rotateY(-10deg) rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateY(8deg) rotateZ(-4deg);
            transform: rotateY(8deg) rotateZ(-4deg);
  }
}

@-webkit-keyframes cloudbig {
  from {
    -webkit-transform: rotateX(-2deg) rotateZ(0deg);
            transform: rotateX(-2deg) rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateX(10deg) rotateZ(-10deg);
            transform: rotateX(10deg) rotateZ(-10deg);
  }
}

@keyframes cloudbig {
  from {
    -webkit-transform: rotateX(-2deg) rotateZ(0deg);
            transform: rotateX(-2deg) rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateX(10deg) rotateZ(-10deg);
            transform: rotateX(10deg) rotateZ(-10deg);
  }
}
/*# sourceMappingURL=main.css.map */