// reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
}

#left-wheel, #right-wheel {
    animation: wheel-rotation 1.5s linear 0s infinite forwards;
    transform-origin: center;
    transform-box: fill-box;

}

@keyframes wheel-rotation {
    0% {
        transform: rotateZ(0deg);
    }

    100% {
        transform: rotateZ(360deg);
    }
}